<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128769436570-rvv9kfv413dhjccfs9gied951hdet193.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128769436570-rvv9kfv413dhjccfs9gied951hdet193</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>128769436570-a99pjukofu5rrq26p0sfvjlq84cel0s4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbLiTE7Y0auGX1YAHLv8TBJ6GqvoUoVbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>128769436570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.Inspection-Manager</string>
	<key>PROJECT_ID</key>
	<string>inspection-manager-609e2</string>
	<key>STORAGE_BUCKET</key>
	<string>inspection-manager-609e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128769436570:ios:ede6e66006998d46d9e823</string>
	<key>DATABASE_URL</key>
	<string>https://inspection-manager-609e2-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>